//- footer structure
#footer
    #footer-content.max-content

        #contact-block
            h1 Kontakt
            p.footer-contact-line Name
            p.footer-contact-line Tel: 
                a(href="tel:+436666666969") +43 666 666 69 69
            p.footer-contact-line E-Mail: 
                a(href="mailto:me@domain.tld") me@domain.tld 
            #contact-address
                p.footer-address-line Straße
                p.footer-address-line Ort

        .grid-space

        .grid-space

        #footer-links-block
            p.footer-links.notes
                a#impressum-link(href="/impressum.html") Impressum

