//- footer structure
#footer
    #footer-content.max-content

        #contact-block
            h1 Kontakt

            h2 ASSECURA Beratungs-& Verwaltungs GmbH Nfg KG
            
            p Keplerstraße 105 <br> 8020 Graz, Österreich

            p
                a(href="tel:06509148629") T: 0043 650 91 48 629
                br
                a(href="mailto:office@assecura.at") E: office@assecura.at
                br
                a(href="https://www.assecura.at") W: www.assecura.at


            #footer-links-block
            p.footer-links.notes
            a#impressum-link(href="/impressum.html") Impressum

        #social-media-block
            h1 around the web 
            #icon-row
                #facebook-icon
                a(herf="Facebook link") 
                #linkedin-icon
                a(href="linkedin link")
                #email-icon
                a(herf="mail link")
        
        #about
            h1 about assecura
            p#Content-about-assecura assecura ist cool

#copyright
    p#copyrightcontent copyright&copy;assecura

