//- footer structure
#footer
    #footer-content.max-content

        #contact-block
            h2 KONTAKT
            p Assecura - Smart Insurance Advice
            //- p Geschäftsführer<br>
                | Akad.VKfm. Peter Schernthaner 
            p Keplerstraße 105 <br>
                | 8020 Graz 

            p
                a(href="tel:06508166901") Peter Schernthaner: +43/650/8166901
                br
                a(href="mailto:office@assecura.at") E:  office@assecura.at
                br
                a(href="https://www.assecura.at") W:  www.assecura.at

        #social-media-block
            //- h2 around the web 
            #icon-row
                a(href="https://www.linkedin.com/company/72179509"): svg#linkedin: use(href="#svg-linkedin-icon")
                a(href="https://www.facebook.com/assecura.at"): svg#facebook: use(href="#svg-facebook-icon")
        
        #about 
            h2 IMPRESSUM
            p Assecura Beratungs-& Verwaltungs GmbH Nfg KG
            p Geschäftsführer<br>
                | Akad.VKfm. Peter Schernthaner 
            //- p Keplerstraße 105 <br>
                | 8020 Graz 
            p FB-Nr.: FN 478976b LG ZRS Graz<br>
                | Gerichtsstand: Österreich-Graz  <br>GISA-Zahl: 1886827

#copyright
    p#copyrightcontent Copyright &copy; Assecura 2021
