//- footer structure
#footer
    #footer-content.max-content

    #contact-block
        h1 Kontakt
            h2
                p.footer-contact-line ASSECURA S.I.A.
                p.SIA-line
                a Smart Insurance Advice 
                p.footer-contact-line Tel: 
                a(href="tel:+436508166901") 0650 81 66 901
                p.footer-contact-line E-Mail: 
                a(href="mailto:me@domain.tld") office@assecura.at
                #contact-address
                p.footer-address-line Straße
                p.footer-address-line Ort

       
        #footer-links-block
            p.footer-links.notes
                a#impressum-link(href="/impressum.html") Impressum

