
#footer
    border-top: solid 10px cd-red
    background-color: cd-gray

#footer-content
    display: flex
    padding-bottom: 60px
    padding-top: 60px
    text-align: left
    justify-content: space-between

    p
        margin-top: 12px
        font-size: 12px
        line-height: 115%

#copyright
    padding 18px
    text-align: center
    background-color: cd-red
    color white
    font-family: lato
    font-size: 9.6px

#contact-block
    width: 280px    
    

#about
    font-size: 16px
    width: 280px
    text-align: right


#social-media-block
    text-align: center
    padding-block-start: 20px

#linkedin
    color cd-red
    height 40px
    width: 40px
    margin-top: 5px

#facebook  
    color cd-red
    height 40px
    width: 40px
    margin-top: 5px






    








        
        