#footer-content
    display: flex
    padding-bottom: 60px
    padding-top: 60px
    text-align: left
#copyright
    padding 18px
    text-align: center
    background-color: header-color
    font-family: lato
    font-size: 9.6px

#contact-block
    
    p
       margin-top: 20px
       font-size: 15px
       line-height: 115%


    








        
        