/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*=========================================================
Global Styles
==========================================================*/
@import '../globalstyle/global.styl'

/*=========================================================
Specific Variable Definitions
==========================================================*/
header-color = grey
footer-background = black

/*=========================================================
All Module Styles
=========================================================*/
@import '../allmodules/allstyles.styl'

/*=========================================================
Specific Style Overwrites
=========================================================*/
#banner-image-row
    background-image: url("/img/events.jpg")

/*=========================================================
All Module Styles
=========================================================*/
@import 'components/calendar/styles.styl'