//- servicesection structure
#servicesection.max-content-servicesection
    #top-service-row
        .section-card
            svg.card-icon
                use(href="#svg-ourjob-icon")
            h1 Was ist unser Job?
            p Wir prüfen mögliche Gefahren im privaten & geschäftlichen Umfeld. damit du auf mögliche Veränderungen bestmöglich reagieren kannst.


        .section-card
            svg.card-icon
                use(href="#svg-target-icon")
            h1 Unser Ziel ist es,
            p dir gesammelte Erfahrungen & Geheimnisse zu zeigen, damit du dir keinen Fehltritt mehr leisten musst.


        .section-card
            svg.card-icon
                use(href="#svg-motivation-icon")
            h1 Uns motiviert,
            p dich auf unwegsamen Gelände zu begleiten, damit du auch in Zukunft sicher mit jeder Situation klar kommst.

    
    .section-card
        svg.card-icon
            use(href="#svg-idea-icon")
        h4 Die Idee sollte sein,
        p Versicherungsverträge einfach und unkompliziert zu vermitteln, damit du mehr Zeit für deine eigenen Projekte hast.



