//- servicesection structure
#servicesection.max-content-servicesection
    #top-service-row
        .section-card
            svg.card-icon
                use(href="#svg-ourjob-icon")
            h4 Was ist unser Job?
            p Wir prüfen mögliche Gefahren in deinem privaten und geschäftlichen Umfeld und zeigen dir, welche davon du in Zukunft nicht mehr selbst tragen musst.


        .section-card
            svg.card-icon
                use(href="#svg-target-icon")
            h4 Unser Ziel ist es,
            p dir mit unserer langjährigen Erfahrung zur Seite zu stehen, um dir mögliche Belastungen abzunehmen und das Kleingedruckte so zu entwirren, dass du dir deiner Entscheidung sicher sein kannst.

        .section-card
            svg.card-icon
                use(href="#svg-motivation-icon")
            h4 Uns motiviert,
            p dich auf unwegsamen Gelände zu begleiten, damit du auch in Zukunft sicher mit jeder Situation klar kommst.

    
    .section-card
        svg.card-icon
            use(href="#svg-idea-icon")
        h4 Die Idee sollte sein,
        p Versicherungsverträge einfach und unkompliziert zu vermitteln, damit du mehr Zeit für deine eigenen Projekte hast.



