// servicesection styles
card-icon-size= 50px

#servicesection
    text-align: center
    padding-top: 20px
    font-size: 15px
    font-family: lato
    letter-spacing: 1.5px
    line-height: 125%

#top-service-row
    display: flex
    justify-content: space-around


.card-icon
    width: card-icon-size
    height : card-icon-size

.section-card
    max-width 200px
    //    text-align: center
    display: inline-block
    padding: 10px
    border: solid 2px cd-red 
    border-radius: 50px
    margin: 10px
    box-shadow: 500 0 50px 5px black

svg
    color: cd-red




