// servicesection styles
card-icon-size= 50px

#servicesection
    text-align: center
    padding-top: 20px
    padding-bottom: 100px
    font-size: 15px
    font-family: lato
    letter-spacing: 1.5px
    line-height: 125%

#top-service-row
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: 30px


.card-icon
    width: card-icon-size
    height : card-icon-size
    padding 20px

.section-card
    max-width 205px
    //    text-align: center
    display: inline-block
    padding: 20px
    // border: solid 2px cd-red 
    border-radius: 5px
    margin: 10px
    // box-shadow: 0 0 50px 0.5px cd-red
    background-color: cd-gray

svg
    color: cd-red
    border: outside 5px

h4 
    font-family: "monti"