/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'

/*=========================================================
Global Styles
=========================================================*/
@import '../globalstyle/global.styl'

/*==========================================================
Specific Variable Definitions
==========================================================*/
header-color = green
footer-background =#4267B2

/*==========================================================
All Module Styles
==========================================================*/
@import '../allmodules/allstyles.styl'

/*==========================================================
Specific Style Overwrites
==========================================================*/    
#banner-image-row
    background-image: url("/img/home.jpg")

/*==========================================================
Component Styles
==========================================================*/

#particles-js
    width: 100%;
    height: 200px;
    background-color: transparent;
