body
    include ../svgiconmodule/svgicon.pug
    //- include ../menumodule/menu.pug
    include ../headermodule/header.pug
    include ../bannermodule/banner.pug
    include ../servicesectionmodule/servicesection.pug
    
    //- img#banner-image(src="/img/banner-image.jpg")
    //- #content.max-content
    include ../footermodule/footer.pug
    
    //- include ../upbuttonmodule/upbutton.pug
    
    //- #particles-js



    
    