/*==========================================================
RESET
==========================================================*/
@import '../stylereset/reset.styl'
@import '../../../node_modules/@glidejs/glide/dist/css/glide.core.min.css'
/*=========================================================
Global Styles
=========================================================*/
@import '../globalstyle/global.styl'

/*==========================================================
Specific Variable Definitions
==========================================================*/


/*==========================================================
All Module Styles
==========================================================*/
@import '../allmodules/allstyles.styl'

/*==========================================================
Specific Style Overwrites
==========================================================*/    
#banner-image-row
    background-image: url("/img/home.jpg")
#content
    height 1000px

/*==========================================================
Component Styles
==========================================================*/

#particles-js
    width: 100%;
    height: 200px;
    background-color: transparent;

#banner-image
    width: 100%
    height 100%

.glide__slide
    height 10%
    background-color: black
    
    
