//aboutme styles
/*==========================================================
Variables to tweak the style
==========================================================*/
impressum-top-spacing = 90px
impressum-bottom-spacing = 200px

separator-line-width = 3px

impressum-paragraph-gap = 30px
/*==========================================================
Serious Stuff
==========================================================*/
#impressum
    padding-top impressum-top-spacing
    padding-bottom impressum-bottom-spacing
    border-bottom solid separator-line-width cd-hellgrau
    p
        text-align: center
        margin-bottom impressum-paragraph-gap
