@import '../bannermodule/styles.styl'
@import '../footermodule/styles.styl'
@import '../headermodule/styles.styl'
@import '../menumodule/styles.styl'
@import '../navbarmodule/styles.styl'
@import '../servicesectionmodule/styles.styl'
@import '../svgiconmodule/styles.styl'
@import '../upbuttonmodule/styles.styl'
