//- header structure
#header 
    //- #logo-frame-row
    #menu-row
        #menu.max-content
            a#menu-link-home.menu-link(href="/") Home
            a#menu-link-services.menu-link(href="/events.html") Events
            a#menu-link-contact.menu-link(href="#kontakt") Kontakt
            #burger
    //- #banner-image-row
    //- #page-quote-row
    //-     .inner-content
    //-         block page-quote
    //-         block page-quite-signature