#header
    h1#header-title A 
        p Assecura

        
    //#navbar
        a(href="") Unser Job
        a(href="") Unsere Ideen
        a(href="") Wie du uns erreichst

    
     




     //- #menu-button
        svg#open-button(): use(href="#svg-burger-icon")
        svg#close-button(): use(href="#svg-cross-icon")


