menu-button-size = 30px

#header
    background-color:#c2bfc6
    width: 100%
    padding 30px
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center

    h1
        font-size: 18px
    
    #close-button
        display: none
        height: menu-button-size
        width:  menu-button-size
    #open-button
        display: block
        height: menu-button-size
        width:  menu-button-size


#header.menu-active
    #close-button
        display block
    #open-button
        display none


#menu-button
    @extends h1