menu-button-size = 30px

#header
    border-bottom: solid 5px cd-red
    background-color: cd-gray
    width: 100%
    padding 10px
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
    // flex-direction: row-reverse

    h1
        font-size: 130px
        letter-spacing: 3px
        padding-left: 35px
    p
        font-size: 11.5px
        font-family: x 
        letter-spacing: 4px
        // padding-bottom: 50px
            
    #close-button
        display: none
        height: menu-button-size
        width:  menu-button-size
    #open-button
        display: block
        height: menu-button-size
        width:  menu-button-size

// #header-title    

#header.menu-active
   
    #close-button
        display block
    #open-button
        display none

#menu-button
    @extends h1

#navbar
    font-size: 9pt
    font-family: x 
    display: flex
    a
        padding-left 30px
        padding-right: 30px

#banner-image
    background-image: url("/img/banner-image.jpg")

    
    

