#header
    background-color:#4267B2
    width: 100%
    padding 30px
    box-sizing: border-box
    display: flex
    justify-content: space-between
    
    #close-button
        display: none

#menu-button
    @extends h1


#header.menu-active
    #close-button
        display block
    #open-button
        display none
