//- banner structure
#banner
    .glide
        .glide__track(data-glide-el="track")
            .glide__slides
                img.glide__slide(src="/img/banner-image.jpg")
                img.glide__slide(src="/img/banner-image2.jpg")
                img.glide__slide(src="/img/banner-image3.jpg")
                img.glide__slide(src="/img/banner-image4.jpg")