//welcoming styles
/*=====================================================
Variables to tweak the style 
=====================================================*/

welcome-section-spacings = 90px
welcome-bottom-padding = 200px

/*=====================================================
The Serious Stuff
=====================================================*/
#welcome-section
    margin-top welcome-section-spacings
    margin-bottom welcome-section-spacings
    padding-bottom: welcome-bottom-padding
    text-align: center